<ng-container *ngIf="sum != null">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <div class="container">
    <div id="Checkout" class="inline">
        <h1>Pay Invoice</h1>
        <div class="card-row">
            <span class="visa"></span>
            <span class="mastercard"></span>
            <span class="amex"></span>
            <span class="discover"></span>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="PaymentAmount">Payment amount</label>
                <div class="amount-placeholder">
                    <span>$</span>
                    <span>{{sum}}</span>
                </div>
            </div>
            <div class="form-group">
                <label or="NameOnCard">Name</label>
                <input id="NameOnCard" class="form-control" type="text" maxlength="255" required [(ngModel)]="info.name" name="name"/>
                <span style="color: red;" *ngIf="info.name === ''">Name not empty</span>
            </div>
            <div class="form-group">
                <label or="NameOnCard">Email</label>
                <input id="NameOnCard" class="form-control" type="email" maxlength="255" required [(ngModel)]="info.email" name="email"/>
                <span style="color: red;" *ngIf="info.email === ''">Email not empty</span>
            </div>
            <div class="form-group">
                <label for="CreditCardNumber">Number</label>
                <input id="CreditCardNumber" class="null card-image form-control" type="number" required [(ngModel)]="info.number" name = "number"/>
                <span style="color: red;" *ngIf="info.number === ''">Number not empty</span>
            </div>
            <div class="form-group">
                <label for="CreditCardNumber">Address</label>
                <input id="CreditCardNumber" class="null card-image form-control" type="text" required [(ngModel)]="info.address" name = "address"/>
                <span style="color: red;" *ngIf="info.address === ''">Address not empty</span>
            </div>
            <div class="form-group">
                <label for="CreditCardNumber">Note</label>
                <textarea id="CreditCardNumber" class="null card-image form-control" required [(ngModel)]="info.note" name="note"></textarea>
            </div>
            <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
                <span class="submit-button-lock"></span>
                <span class="align-middle">Pay ${{sum}}</span>
            </button>
        </form>
    </div>
  </div>
</ng-container>

